CompileFlags:
  CompilationDatabase: >-
    /Users/esmatrabaki/Library/CloudStorage/OneDrive-HAW-HH/ITS/2
    SM/GSP/ML_GSP_VSC_KRF/Programs/TestNewFontAssembler/out/TestNewFontAssembler/ITSboard_Assembly/Debug
